@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

 ::selection {
    background: var(--selection);
    /* WebKit/Blink Browsers */
}

 ::-moz-selection {
    background: var(--selection);
    /* Gecko Browsers */
}


/* width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-and-corner);
    opacity: 0.3;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    opacity: 0.4;
    border-radius: 5px;
}

 ::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-and-corner);
    opacity: 0.3;
}

body {
    background: linear-gradient(45deg, rgb(var(--main)), var(--text-main));
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    color: transparent;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.spinner>div {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#wrapper {
    background: linear-gradient(45deg, rgb(59, 59, 59) 0%, rgb(31, 31, 31) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    z-index: 5;
    transition: opacity 0.3s;
}

#wrapper p {
    color: white;
}

#bg {
    width: 100%;
    height: 100%;
}

.bar {
    display: block;
    background: rgba(var(--main), 0.8);
    width: 100%;
    height: 25px;
    color: var(--text-main);
    z-index: 4;
    transition: 0.3s;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Readex Pro', sans-serif;
    backdrop-filter: blur(3px);
    box-shadow: 20px 0 40px 0px rgba(var(--main), 0.7);
}

.bar p {
    text-align: center;
    user-select: none;
    line-height: 25px;
    filter: brightness(80%);
}

.bar i {
    float: right;
    line-height: 25px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.bar i:nth-child(1) {
    padding-right: 10px;
}

.container {
    width: clamp(500px, 40vw, 1600px);
    height: clamp(300px, 40vh, 800px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.console {
    width: 100%;
    height: 100%;
    font-family: 'Fira Code', monospace;
    background: rgba(var(--main), 0.7);
    box-shadow: 0 10px 20px 0px rgba(var(--main), 0.7);
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    padding: 8px;
    backdrop-filter: blur(3px);
    overscroll-behavior: revert;
    transition: 0.3s;
}

.display {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

.display__line,
.display__typer {
    color: var(--console-text);
    font-size: 13px;
    margin: 1px 5px;
    
}

.display__line {
    white-space: pre;
    position: inline;
    height:0px;
    
}

@keyframes slideInFromTop {
    from { 
        transform: translateY(-100%);
        height: 0px;
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        height: 15px;
        opacity: 1;
    }
}

.display__line {
    animation: slideInFromTop 0.01s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Add a delay to the animation for each line */
.display__line:nth-child(n) {
    animation-delay: calc(n * 0.05s);
}

.display__typer {
    display: flex;
    margin-top: 15px;
    color: var(--text-main);
}

.display__cursor {
    display: none;
    animation: none;
    opacity: 0;
    user-select: none;
    color: var(--text-alt);
}

.display__input {
    width:0;
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 12px;
    font-family: 'Fira Code', monospace;
    color: var(--text-alt);
    text-align: left;
}

.display__input:focus {
    outline: none;
    caret-color: transparent;
    color: var(--text-alt);
}

.display__input:focus+.display__cursor {
    animation: cursor 1s infinite;
    opacity: 1;
}

#tilde {
    color: var(--text-alt);
}

#pound {
    color: var(--text-main);
    padding-right: 3px;
}

#link {
    filter: hue-rotate(30deg) saturate(150%);
}

#start {
    color: var(--start-text);
}

#white {
    color: white;
}

.devtext {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: var(--text-main);
    font-family: 'Readex Pro', sans-serif;
}

.devtext>a {
    background: linear-gradient(45deg, var(--text-main), var(--start-text));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: var(--scrollbar-thumb);
    font-weight: bolder;
    transition: 0.3s filter;
}

.devtext>a:hover {
    filter: brightness(130%);
}